{% block wd_mailer_tpl_params_widget %}
    <table class="table">
        <thead>
        <tr>
            <th>Valeur</th>
            <th>Type de retour</th>
        </tr>
        </thead>
        <tbody>
        {% for name, return in params %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ return }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block wd_mailer_twig_ace_editor_widget %}
    <div data-controller="mailer-ace-editor">
        {{ form_widget(form, {attr: {
            'data-mailer-ace-editor-target': 'input',
            'style': 'display: none'
        }}) }}
        <div data-mailer-ace-editor-target="editor" style="width: 100%; aspect-ratio: 16/10">
            {{- form.vars.value -}}
        </div>
    </div>
{% endblock %}
